{{##def.page_title = 'Your account' #}}
{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">

    <div class="settings">
        <div class="small-2 columns">
            <ul class="menu">
                <li class="active">
                    Account
                </li>
                <li>
                  <a href="/invest">Invest</a>
                </li>
                <li>
                    <a href="/deposit">Deposit</a>
                </li>
                <li>
                    <a href="/withdraw">Withdraw</a>
                </li>
                <li>
                    <a href="/tip">Tips</a>
                </li>
                <li>
                    <a href="/weeklyprizes">Prizes</a>
                </li>
                <li>
                    <a href="/support">Support</a>
                </li>
                 <li>
                    <a href="/security">Security</a>
                </li>
                <li>
                    <a onclick="logout();">
                        Logout
                    </a>
                </li>
            </ul>
        </div>

        <div class="small-10 columns sets-content">
            <p><h2>Account details for ({{=it.user.id}}) {{=it.user.username}}</h2></p>
            </br>
            <div class="row">
                <div class="small-6 columns">
                    <p class="account">
                        <b>BTC Deposit Address:</b>
                        <input size="50" type="text" value="{{=it.user.deposit_address_btc}}" readonly >
                    </p>
                     <p>
                        Transfer BTC to this address to have your account credited. Accounts are credited after <b>1</b> confirmation.
                         You can visit
                         <a href="http://www.blockchain.info/address/{{=it.user.deposit_address_btc}}">blockchain.info</a> to view the status of your transactions.
                        <strong><a href="/faq#deposit"> <small>more?</small></a></strong>
                    </p>
                    
                </div>
                <div class="small-6 columns">
                    <p class="account">
                        <b>CLAM Deposit Address:</b>
                        <input type="text" value="{{=it.user.deposit_address_clam}}" readonly>
                    </p>
                   <p>
                        Transfer CLAM to this address to have your account credited. Accounts are credited after <b>10</b> confirmations.
                         You can visit
                         <a href="http://www.khashier.com/address/{{=it.user.deposit_address_clam}}">khashier.com</a> to view the status of your transactions.
                        <strong><a href="/faq#deposit"> <small>more?</small></a></strong>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <img class="show-for-medium-up qr" src="https://blockchain.info/qr?data={{=it.user.deposit_address}}&size=150" alt=""/>
                </div>
                <div class="large-6 columns">
                    
                </div>
            </div>
            <br>

            <div class="row">
                <div class="small-6 columns">
                    <p> <h4> Btc Details </h4> </p>
                    <p> <h5><b>Balance:</b></h5></p><p><h5> {{#def.format:{n: it.user.stats.balance_satoshis_btc, decimals:8} }} BTC</h5></p>
                    <p> <h5><b>Balance Invested:</b></h5></p><p><h5> {{#def.format:{n: it.user.stats.balance_satoshis_invested_btc, decimals:8} }} BTC</h5></p>
                    <p> <h5><b>Bankroll Profit:</b></h5></p><p><h5> {{#def.format:{n: it.user.stats.bankrole_profit_btc, decimals:8} }} BTC</h5></p>
                    <p> <h5><b>Deposits:</b></h5></p><p><h5> {{#def.format:{n: it.user.deposits_btc, decimals:8} }} BTC</h5></p>
                    <p> <h5><b>Withdrawals:</b></h5></p><p><h5> {{#def.format:{n: it.user.withdrawal_btc, decimals:8} }} BTC</h5></p>
                    <p> <h5><b>Total Commission:</b></h5></p><p><h5> {{#def.format:{n: it.user.stats.commission_btc, decimals:8} }} BTC</h5></p>
                    <p> <h5><b>Gambling Profit :</b></h5></p><p><h5> {{#def.format:{n: it.user.net_profit_btc, decimals:8} }} BTC</h5></p>
                </div>
                <div class="small-6 columns">
                    <p> <h4> Clam Details </h4> </p>
                    <p> <h5><b>Balance:</b></h5></p><p><h5> {{#def.format:{n: it.user.stats.balance_satoshis_clam, decimals:8} }} CLAM</h5></p>
                    <p> <h5><b>Balance Invested:</b></h5></p><p><h5> {{#def.format:{n: it.user.stats.balance_satoshis_invested_clam, decimals:8} }} CLAM</h5></p>
                    <p> <h5><b>Bankroll Profit:</b></h5></p><p><h5> {{#def.format:{n: it.user.stats.bankrole_profit_clam, decimals:8} }} CLAM</h5></p>
                    <p> <h5><b>Deposits:</b></h5></p><p><h5> {{#def.format:{n: it.user.deposits_clam, decimals:8} }} CLAM</h5></p>
                    <p> <h5><b>Withdrawals:</b></h5></p><p><h5> {{#def.format:{n: it.user.withdrawal_clam, decimals:8} }} CLAM</h5></p>
                    <p> <h5><b>Total Commission:</b></h5></p><p><h5> {{#def.format:{n: it.user.stats.commission_clam, decimals:8} }} CLAM</h5></p>
                    <p> <h5><b>Gambling Profit :</b></h5></p><p><h5> {{#def.format:{n: it.user.net_profit_clam, decimals:8} }} CLAM</h5></p>
                    <p> <h5><b>Staking Profit:</b></h5></p><p><h5> {{#def.format:{n: it.user.stats.staking_profit, decimals:8} }} CLAM</h5></p>
                </div>
 
            </div>
        </div>
    </div>
    </div>
#}}
{{#def.include('./template/main')}}
