{{##def.page_title = 'FreeBitcoins.com - Contact Us' #}}
{{##def.page_description = 'Contacting the Free Bitcoins support is extremely easy.  Please email us by using this webpage and our support team will contact you within 24 hours typically.' #}}

{{##def.content:
<div class="row faq panel radius">
    <h5>Need help? Don't Hesitate to contact us. You can usually find an Admin or Mod Online in the "trollbox" or feel free to send us an email.</h5>
    <hr>
    <div class="contact">
         Contact: <a href="https://freebitcoins.supportsystem.com/">https://freebitcoins.supportsystem.com/</a>
    </div>
</div>
#}}
{{#def.include('./template/main')}}
