{{##def.page_title = 'FreeBitcoins.com - FAQ BlastOFF - Dont bust your bits!' #}}
{{##def.page_description = 'We are happy to answer any questions about our cryptocurrency game Blast OFF.  Please check this page for frequently asked questions about our rocket game!' #}}

{{##def.content:
<div class="row faq panel radius">

    <h5>Frequently Asked Questions</h5>
    <hr>
    <div class="columns large-3">
        <div class="faq-nav">
            <ul class="side-nav">
                <li><a href="#game-name">What is the game called?</a></li>
                <li><a href="#how-to-play">How does the game Blast Off work?</a></li>
                <li><a href="#clam-crypto">What is Bitcoin, Clamcoin, and cryptocurrency in general?</a></li>
                <li><a href="#getting-started">How do I get started?</a></li>
                <li><a href="#deposit">How do I deposit and play for free?</a></li>
                <li><a href="#free-clam">Can I get free CLAMS to play if I don’t have any qualifying addresses?</a></li>
                <li><a href="#bigger-games">I want to play bigger games… where can I get more CLAMS than just the faucet?</a></li>
                <li><a href="#investments">How do investments work?</a></li>
                <li><a href="#stake">STAKE: we just staked 1.0 CLAM - What is this?</a></li>
                <li><a href="#gross-profit">What is “Gross Profit”?</a></li>
                <li><a href="#deposit-time">How long for deposits to be credited to account?</a></li>
                <li><a href="#withdraw">How do I withdraw coins?</a></li>
                <li><a href="#refund">Can I get a refund?</a></li>
                <li><a href="#dropout">What happens if I disconnect from the game?</a></li>
                <li><a href="#high">How high can the game go?</a></li>
                <li><a href="#limit">What is the most I can bet?</a></li>
                <li><a href="#odds">What are the game odds?</a></li>
                <li><a href="#crash-point">How is the game bust calculated?</a></li>
                <li><a href="#fair">Is the game fair?</a></li>
                <li><a href="#force">What happens when the server forces people to cash out?</a></li>
                <li><a href="#weekly">What is the "weekly promotion"?</a></li>
                <li><a href="#addiction">Gambling Addiction</a></li>
                <li><a href="#proof-of-funds">Proof of funds</a></li>
                <li><a href="#owner">Who owns freebitcoins.com</a></li>
            </ul>
        </div>
    </div>

    <div class="columns large-9">
        <dl>
            <h3 id="basics">Basics</h3>
            <dd>
                <b><a name="game-name"></a>What is the game called?</b>
                <p>
                    We call this game several different things.  “Blast Off” is the official name of the game, but Rockets is also acceptable! 
                </p>
            </dd>
            <dd>
                <b><a name="how-to-play"></a>How does the game Blast Off work?</b>
                <p>
                    It’s a relatively entertaining and straightforward concept.  As the rocket soars your multiplier continues to grow faster and faster (due to thrusters and shit.)  Players can choose when they decide to take their winnings by clicking the “Cash out” button.
                       </p>
                <p>
                        The rocket blows up statistically on launch (1.0x) one every 36 times (1:36).  Think of it as a roulette table with a hole for the House rather than a 0.  The rocket randomly blows up on every launch at some point.  It is up to the player to try to cash out before the rocket explodes!  There is no limit on how high the multiplier can go, but there is a limit on the amount of coins won each game.

                </p>
            </dd>
            <dd>
                <b><a name="clam-crypto"></a>What is Clamcoin and cryptocurrency in general?</b>
                <p>
                  <a href="https://bitcoin.org" target="_blank">Bitcoin</a> and <a href="https://clamcoin.org" target="_blank">Clamcoin</a> are something the internet calls a “cryptocurrency”. Cryptocurrency is a type of internet money that relies on a central computer program rather than a central bank.  Anyone from anywhere can run one of these computer programs. 
                        </p>
                <p>
                The difference between cryptocurrency and a central bank is that a central bank can say “We don’t like that” or “We need more information” and freeze your transactions.
                       </p>
                <p>
            Cryptocurrency is just a computer program.  The computer program relies on math rather than feeling or human pieces of information.  The math with cryptocurrencies we use is “perfect” vs. the banks that aren’t so much.  (Central Banks are Government puppets)
                                      </p>
                <p>
            <a href="https://www.theguardian.com/business/2008/dec/28/markets-credit-crunch-banking-2008" target="_blank">https://www.theguardian.com/business/2008/dec/28/markets-credit-crunch-banking-2008</a><br/>
            <a href="https://www.zerohedge.com/news/what-30-years-gold-confiscation-us-government-looks" target="_blank">https://www.zerohedge.com/news/what-30-years-gold-confiscation-us-government-looks</a>

                </p>
            </dd>  

            <dd>
                <b><a name="getting-started"></a>How do I get started?</b>
                <p>
                First off you need to create an account with us (<a href="https://freebitcoins.com/register">https://freebitcoins.com/register</a>)
                </p>
                <p>
             Please be sure to use a unique password for our website.  Good security practice in cryptocurrency is a big deal.  We strongly recommend using a “Password Manager” if you aren’t already… it’s 2018 after all!  
                             </p>
                <p>
                <a href="https://shop.trezor.io?a=freebitcoins.com" target="_blank">Trezor</a> is a physical cryptocurrency wallet that also manages passwords and will save you a HUGE headache down the road!  You can purchase one here:  <a href="https://shop.trezor.io?a=freebitcoins.com" target="_blank">https://shop.trezor.io?a=freebitcoins.com</a>

                </p>
            </dd>

            <dd>
                <b><a name="deposit"></a>How do I deposit and play for free?</b>
                <p>
        On the 12th of May 2014, a snapshot was taken of the BTC, LTC, and DOGE blockchains. All addresses containing a non-dust amount of coins at that time were given 4.60545574 CLAMs for free. This was the initial distribution and is how all the CLAMs were created. The intent was to make the distribution as fair as possible, since everyone involved in any of those three coins automatically gets free CLAMs.
                </p>
                <p>
        The specific blocks at which the snapshots were taken:<br/>
        BTC block 300377 (2014-05-12 12:48:17)<br/>
        LTC block 565693 (2014-05-12 13:06:31)<br/>
        DOGE block 218556 (2014-05-12 13:09:17)<br/>
        <br/>
        You can see if your BTC, LTC, or DOGE address qualify for free at: <a href="https://just-dice.com" target="_blank">Just-Dice.com</a> (type /dig in JD's chat bot)
                </p>
            </dd>

            <dd><b><a name="free-clam"></a>Can I get free CLAMS/BTC to play if I don’t have any qualifying addresses?</b>
                <p>
                    Coming soon.  Our faucet is currently being rebuilt.
                </p>
            </dd>


            <dd><b><a name="bigger-games"></a>I want to play bigger games… where can I get more CLAMS than just the faucet?</b>
                <p>
                        We recommend the following website to get CLAMS (in order of our personal preference… top being the best):<br/>
                        #1 <a href="https://LuckyGames.co" target="_blank">LuckyGames.co</a> - Purchase CLAMS with lots of different cryptocurrencies.  No ID required and instantly process withdrawals.<br/>
                        #2 <a href="https://Poloniex.com" target="_blank">Poloniex.com</a> - Purchase CLAMS with Bitcoin.  ID required.

                        <br/><br/>
                </p>
            </dd>

    
           <dd>
                <b><a name="investments"></a>How do Investments work?</b>
                <p>
                    We allow our users an option to “be the house”.<br/>

                    You can invest in the site’s bankroll, and share in the site’s profits (or losses), while helping us offer bigger maximum bets to players.<br/>

                    We charge 10% on profits through gaming. The commission is taken whenever you divest your balance or on every Sunday.<br/>

                    We charge 10% on staking profits.  Staking commissions are taken at the moment a new coin is found by our pool.  <br/>

                    Commissions are subject to change.  We give a 30-day notice by leaving an easily noticeable bold red banner at the top of the page.<br/>

                    We post our investor statistics on Bitcointalk every Sunday.  You are welcome to find your balance on the <a href="https://bitcointalk.org/index.php?topic=4731381.msg42753458#msg42753458" target="_blank">BitcoinTalk Post</a>

                </p>
                <p>
                Investment in any gaming site is inherently risky and proper consideration should be made before you do so.
                
                </p>
            </dd>
            

            <dd>
                <b><a name="stake"></a>STAKE: we just staked 1.0 CLAM - What is this?</b>
                <p>
                    Being a proof-of-stake coin means that just by holding coins the site earns rewards for staking (mining) blocks.  Coins mine coins.   
                        </p>
                <p>
                        All of the rewards earned from staking are added to the site's bankroll for investors to enjoy their mining pool spoils.  10% commission is charged on staking rewards before they are shared out rather than on divesting or at the end of the week.
                                        </p>
                <p>
                        The rewards earned from staking do not show up in the site's overall profit, or in the site profit percentage but they do show up in each individual investor's profit stat. This allows us to compare the site's profit from players.

                </p>
            </dd>

            <dd>
                <b><a name="gross-profit"></a>What is “Gross Profit”?</b>
                <p>
                        Gross profit is your accounts profits without including your accounts losses.
                </p>
            </dd>


            <dd>
                <b><a name="deposit-time"></a>How long do deposits take to be credited?</b>
                <p>
                    We credit Bitcoin deposits roughly ten minutes after the transaction goes on the blockchain. (1 confirmation is required to be credited.)  You should refresh your page if your balance doesn’t update after fifteen minutes!                </p>
                <p>
                   We credit Clamcoin deposits roughly ten minutes after the transaction goes on the blockchain. (10 confirmations are required to be credited.)  You should refresh your page if your balance doesn’t update after fifteen minutes!
                </p>
            </dd>



            <dd>
                <b><a name="withdraw"></a>How do I withdraw coins?</b>
                <p>
                    On your account page, you can transfer coins to any valid address you want. Most withdrawals process within 30 seconds and you will be given the transaction ID.  More substantial withdrawals will be shown in your withdrawal page as "PENDING" and will require us to remove sufficient funds from our cold storage manually. Usually, this process will take less than two hours but may take up to 48 hours, depending on the time of day and other circumstances.
                </p>
                <p>
                    Larger withdrawals will be shown in your withdrawal page as "PENDING" and will require us to manually remove sufficient funds from our cold storage. Usually, this process will take less than two hours, but may take up to 24 hours, depending on the time of day and other circumstances.
                </p>
                <p>
                    We remove 0.0005 BTC and .001 CLAM  from any withdrawal amount to cover transaction fees. We charge this amount regardless of the actual mining fees attached to the transaction, which may be more or less than this, depending on the block competition at the time of your withdrawal.
                </p>
                <p>
                   The minimum withdrawal amount is 0.001 BTC and 0.01 CLAM. Please remember that 0.0005 BTC or a 0.001 CLAM fee will be deducted.
                </p>
            </dd>
            <dd>
                <b><a name="refund"></a>Can I get a refund?</b>
                <p>
                   We do not issue refunds.
                </p>
            </dd>


            <h3>Game</h3>
            <dd>
                <b><a name="dropout"></a>What happens if I disconnect from the game?</b>
                <p>
                    Upon detecting that you have disconnected we cash you out (assuming the game is still in progress).
                    Regardless of whether your client is connected or not, the <em>auto cash-out</em> feature will work as expected (it happens on
                    the server), and we highly recommend you use it if internet reliability or performance is a concern.
                </p>
            </dd>
            <dd>
                <b><a name="high"></a>How high can the game go?</b>
                <p>
                    There's no real limit on how high the Rocket multiplier can blast off! However, there is the max win per game, and the server will automatically cash out all players still in the game, forcing them to enjoy an early success if this max profit happens. 
                </p>
            </dd>
            <dd>
                <b><a name="limit"></a>What is the most I can bet?</b>
                <p>
                    There is no “max bet,” but there is a “max win.”  This max win is 1.0% of the houses bankroll and changes every game based on winners/losers. Just go to "Play" and check it out yourself. You can see the current max win is on the top right of the Blast Off chart.
                </p>
            </dd>

            <h3>Fairness</h3>
            <dd>
                <b><a name="odds"></a>What are the game odds?</b>
                <p>
                    The house margin is scaled between 0 and 1 %, depending on how long you hold. 
                </p>
                <p>
                    The numbers are baked into the game, so you never need to worry about it. 
                    Our unique formula makes it fair for both highly conservative play (cash out early) and highly aggressive
                    play (hold until you're a millionaire). All games are <a href="#fair">provably fair</a>.
                </p>
                <p>
                    The exact formula for the houses expected return is:<br />
                    <code>1 % * (intendedCashOut - roomAmount) * (roomAmount / intendedCashOut)</code><br />
                    But to really get a good sense of how this affects you, please use our handy <a href="/calculator" >odds calculator</a>.
                </p>
                <p>
                    The other important thing to keep in mind is that every game has a 2.77 % chance of instantly busting. This is an important consideration to make if you
                    are playing in such a way that you never win the bonus.
                </p>
                <img src="/img/house-edge.png">
            </dd>
            <dd>
                <b><a name="crash-point"></a>How is the game bust calculated?</b>
                <p>
                    The code that decides the multiplier for each round is here:
                </p>
                <p>
                    <a href="https://github.com/FuzzyHobbit/bustabit-gameserver/blob/master/server/lib.js#L73-L85" target="_blank">Multiplier Code</a>
                </p>
                <p>
                    It basically does three things.
                </p>
                <p>
                    First, it mixes the hash with the clientSeed (decided by the provably fair seeding event) using hmac-sha256
                </p>
                <p>
                    Secondly, it gives a 1 in 36 chance of instant busting
                </p>
                <p>
                    Third, it works out what the multiplier would be if there was no
                    house edge.
                </p>
                <p>
                    Fourth, it takes 1% off the multiplier and adds on 0.01x:
                </p>
                <p>
                    So half the time (other than 0x bust) the multiplier will be 1.99x
                    or more.
                </p>
                <p>
                    That means if we bet 1.99x we have a 50% chance of winning (again,
                    ignoring 0x busts), and so the house edge is:
                </p>
                <p>
                    <code>100 - (1.99 * 50) = 100 - 99.5 = 0.5%</code>
                </p>
                <p>
                    The extra 0.01 that gets added on to the multiplier is half of the 1%
                    that was taken off in this case, leaving the house edge at 0.5%. As
                    the multiplier gets bigger, the 1% that is taken off gets bigger, and
                    the 0.01x that gets added on becomes less and less significant,
                    causing the house edge to tend to 1%.
                </p>
            </dd>
            <dd>
                <b><a name="fair"></a>Is the game fair?</b>
                <p>
                    Bitcoin rocket game: <a href="http://khashier.com/tx/63a6ab6cde06ccbcb44fcba89834860d30ee5aa00d36e2607581a2e6034106d5" target="_blank">Bitcoin block  549036, initial server seed 695f8ebe82aa1dff3862483ac32cb25bc4422760c733c7fe2a6f735af8452dec</a>
                 </p>
                <p>
                    Clamcoin rocket game: <a href="http://khashier.com/tx/41c20b7a8876beba1acb346c48bac4f2ae20989e7948a676593647ceadfcae3f" target="_blank">Bitcoin block 549080, initial server seed 0ffc525e68175b00749475f647ce550984d0fd757035e8d942a72421be6ea231</a>
                </p>
                <p>
                    Bitcoin Client Seed:<a href="https://www.blockchain.com/btc/block/00000000000000000006918cfa9c68365b6ea8c8c266d6b77c478b7375464b8c" target="_blank">00000000000000000006918cfa9c68365b6ea8c8c266d6b77c478b7375464b8c</a>
                 </p>
                <p>
                    Clam Client Seed: <a href="https://www.blockchain.com/btc/block/0000000000000000002534354a0789d021910c4def80c705e36a33820c6166c7" target="_blank">0000000000000000002534354a0789d021910c4def80c705e36a33820c6166c7</a>
                 </p>
            </dd>
            <dd>
                <b><a name="force"></a>What happens when the server forces people to cash out?</b>
                <p>
                    Under some circumstances, the server will force people to cash out. The most common reason is that the game multiplier has gotten so large that we are risking too much of our bankroll (1.0% per launch). Another possible reason is unexpected server problems.
                </p>
            </dd>
            <dd>
                <b><a name="weekly"></a>What is the weekly promotion?</b>
                <p>
                    Every week we run a contest that allows players to compete with each other. There are two brackets: Net profit and wagered. The top ten players from each bracket earn from our peer funded weekly reward pool.
                </p>
                <p>
                    The reward pool pays 50% to the "net profit" bracket and 50% to the "wagered" bracket. The top player of each bracket earns 50%, second place 25%, third place 12.5% and so forth.
                </p>
                <p>
                    Anyone can fund the reward pool by using our chat box commands.  
                </p>
                <p>
                    The command is /reward [coin] [x.xx], /reward stats [coin], and /reward donors [coin].
                </p>
            </dd>
            <dd>
                <b><a name="addiction"></a>Do you have a gambling addiction?</b>
                <p>
Gaming addiction, also known as compulsive gaming, is a type of impulse-control disorder. Compulsive gamers can’t control the impulse to game, even when they know their gaming is hurting themselves or their loved ones. Gaming is all they can think about and all they want to do, no matter the consequences. Compulsive gamers keep gaming whether they’re up or down, broke or flush, happy or depressed. Even when they know the odds are against them, even when they can’t afford to lose, people with a gaming addiction can’t “stay off the game.”
</p>
                <p>
Gamers can have a problem, however, without being entirely out of control. Problem gaming is any gaming behavior that disrupts your life. If you’re preoccupied with gaming, spending more and more time and money on it, chasing losses, or gaming despite severe consequences, you have a gaming problem.
If you think you have this problem, please visit one of these sites to get assistance:

                </p>
                <p>
                    <p>If you think you have this problem please visit one of these sites to get assistance:</p>
                    <b>Online: </b><a href="http://www.olganon.org/home" target="_blank">http://www.olganon.org/home</a></br>
                    <b>UK: </b><a href="http://www.gambleaware.co.uk/" target="_blank">http://www.gambleaware.co.uk/</a></br>
                    <b>US: </b><a href="http://www.ncpgambling.org/help-treatment/help-by-state/" target="_blank">http://www.ncpgambling.org/</a></br>
                    <b>Self Help: </b><a href="http://www.gamblersanonymous.org/ga/" target="_blank">http://www.gamblersanonymous.org/ga/</a>
                </p>
            </dd>

            <dd>
                <b><a name="proof-of-funds"></a>Proof of funds</b>
                <p>Bitcoin cold wallet: <a href="https://www.blockchain.com/btc/address/3BxwvTXe2m3kswT4yCfQkWdyxi2mHyvbvT" target="_blank">3BxwvTXe2m3kswT4yCfQkWdyxi2mHyvbvT</a>  </p>
                <p>Clamcoin hot wallet: <a href="http://khashier.com/chain/Clam/q/addressbalance/xFREEi5LRgUaqbTZAgx5jFSHnZjDFYmiXJ" target="_blank">xFREEi5LRgUaqbTZAgx5jFSHnZjDFYmiXJ</a>  </p>
                <p>Clamcoin warm wallet: <a href="http://khashier.com/chain/Clam/q/addressbalance/xFREEkW5bfEL71LY9eShKqULSt2JcS5rgg" target="_blank">xFREEkW5bfEL71LY9eShKqULSt2JcS5rgg</a>  </p>
            </dd>

            <dd>
                <b><a name="owner"></a>Who owns freebitcoins.com</b>
                <p>This site is owned and operated by BayAreaCoins (uid 2,3,7 in chat)</p>
            </dd>

        </dl>
    </div>
    <a class="border-button red right" href="#">Up</a>
</div>
#}}
{{#def.include('./template/main')}}
