{{##def.page_title = 'FreeBitcoins.com - BlastOFF Guide - Fun Crypto Graph Game' #}}
{{##def.page_description = 'This is our Free Bitcoins graph game guide. This game is comparable, but NOT AFFILIATED, with an Open Source crash game for a site called MoneyPot (BustaBit).' #}}

{{##def.content:
<div class="row faq panel radius">
    <h3>Strategy Guide</h3>
    <hr>
    <p>
        <b>Blast Off</b> is a game of 99% luck, but 1% skill. This means that if you play in a strategy-oblivious way, you'll
        not do too bad. But with a good enough strategy, it's actually possible to overcome the house odds, and even make
        a profit.

    </p>
    <p><b>Here's how it works:</b></p>

    <h4>Instabust</h4>
    <p>
        Right off the bat, there's a <b>2.77%</b> chance of the game instantly busting. If this happens, no one can win anything.
        This means freebitcoins.com has an expected return of <code>2.77% * playersInGame * tableAmount</code>.
    </p>

    <h4>House Edge</h4>
    <p>
        House edge scales between 0 and 1%. <a href="/calculator" target="_blank">see: odds and calculator.</a>.  Our calculator does not factor the 2.77% instant bust.
    </p>
    
</div>

#}}
{{#def.include('./template/main')}}
