{{##def.page_title = 'FreeBitcoins.com - Bitcoin & Altcoin Casino & Arcade Games' #}}

{{##def.content:
    <div class="index">
        <div class="i-content">

          <div class="row hero-unit">
              <img src="img/rocket.svg" width="150" height="150" alt="Real Time"/>
          </div>

            <div class="row hero-unit">
              <a href="/blastoff/btc" class="cta ">Play Bitcoin</a>
              <a href="/blastoff/clam" class="cta ">Play Clamcoin</a>
              </br>
            </div>

            <div class="row features">
                <div class="small-12 large-3 column feature">
                  <img src="img/icons/bullseye.svg" alt="Skill"/>
                  <h2>Skill</h4>
                  <p class="text">Anyone can board a rocket, but it takes <a href="/guide">skill</a> to be a real astronaut.</p>
                </div>
                <div class="small-12 large-3 column feature">
                  <img src="img/icons/clock.svg" alt="Real Time"/>
                  <h2>Real Time</h4>
                  <p class="text">Liftoff in T-minus 3..2..1 <a href="/blastoff/btc">Take Off</a> ! </p>
                </div>
                <div class="small-12 large-3 column feature">
                  <img src="img/icons/secure.svg" alt="Secure"/>
                  <h2>Provably Fair</h4>
                  <p class="text">All rocket launches are <a href="faq#fair">Provably fair</a>.</p>
                </div>
                <div class="small-12 large-3 column feature">
                  <img src="img/icons/group.svg" alt="Social"/>
                  <h2>Social</h4>
                  <p class="text">We're all in the same rocket, so lets enjoy the ride together!</p>
                </div>
            </div>
            <div class="footer">
                <nav>
                    <ul>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/leaderboard">Leaderboard</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
#}}
{{#def.include('./template/main')}}
