{{##def.page_title = 'FreeBitcoins.com - BlastOFF All-time ePeen Champs' #}}

{{##def.content:
<div class="content row panel radius">

    <a href="/weekly-leaderboard"><strong>All Time Leaderboard</strong></a>
    <hr>
    <div class="columns">
          <a href="/leaderboard/btc" class="button orange">Bitcoin</a>
          <a href="/leaderboard/clam" class="button orange">Clamcoin</a>
    </div>

    
</div>
<div class="content row panel radius">

    <a href="/weekly-leaderboard"><strong>Weekly Leaderboard</strong></a>
    <hr>
    <div class="columns">
          <a href="/weekly-leaderboard/btc" class="button orange">Bitcoin</a>
          <a href="/weekly-leaderboard/clam" class="button orange">Clamcoin</a>
    </div>

    
</div>
#}}

{{#def.include('./template/main')}}
