{{##def.page_title = 'Support' #}}

{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">
    <div class="settings">
        <div class="small-2 columns">
        <ul class="menu">
                <li>
                    <a href="/account">Account</a>
                </li>
                <li>
                  <a href="/invest">Invest</a>
                </li>
                <li>
                    <a href="/deposit">Deposit</a>
                </li>
                <li>
                    <a href="/withdraw">Withdraw</a>
                </li>
                <li>
                    <a href="/tip">Tip History</a>
                </li>
                <li>
                    <a href="/weeklyprizes">Prizes</a>
                </li>
                <li class="active">
                    Support
                </li>
                <li>
                    <a href="/security">Security</a>
                </li>
                <li>
                    <a onclick="logout();">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <div class="small-10 columns sets-content">
            <h5>Need help? Please visit <a href="https://freebitcoins.supportsystem.com">https://freebitcoins.supportsystem.com/</a> to open a support ticket</h5>
        </div>
    </div>
</div>
#}}
{{#def.include('./template/main')}}
