{{##def.page_title = 'FreeBitcoins.com - BlastOFF {{=it.stats.username}} - Stats' #}}
{{##def.page_description = 'Free Bitcoins information, stats, and charts for {{=it.stats.username}}' #}}

{{##def.content:
    
<div class="content row panel radius">
    <a class="button orange float-right" href="/user/{{=it.stats.username }}/clam">Clam Charts</a>&nbsp;
    <a class="button orange float-right" href="/user/{{=it.stats.username }}/btc">Btc Charts</a>
    <h4>Player:
        {{?it.user && it.stats.username == it.user.username}}
            <strong>
                <a href="/account">({{=it.stats.user_id }}) {{=it.stats.username }}</a>
            </strong>
        {{??}}
           <strong> <b>({{=it.stats.user_id }}) {{=it.stats.username}}</b></strong>
        {{?}}
    </h4> 
    

    <div id="statistics" class="row">
        <div class="columns data large-3">
            <p><b>Games Played Btc</b></p>
            <h5>{{=it.stats.games_played_btc}}</h5>
        </div>
        <div class="rank columns data large-3">
            <a href="/leaderboard">
                <p><b>Rank Btc</b></p>
                <h5>{{=it.stats.rank_btc}}</h5>
            </a>
        </div>
        <div class="columns data large-3">
            <p>
                <b>Wagered Btc </b>
            </p>
            <h5>{{#def.format: { n: it.stats.user_wagered_btc, decimals: 8} }} BTC</h5>
        </div>
        <div class="columns data large-3">
            <p>
                <b>Profit Btc</b>
            </p>
            <h5>{{#def.format: { n: it.stats.net_profit_btc, decimals: 8} }} BTC</h5>
        </div>
    </div>
    <hr>
    <div id="statistics" class="row">
        <div class="columns data large-3">
            <p><b>Games Played Clam</b></p>
            <h5>{{=it.stats.games_played_clam}}</h5>
        </div>
        <div class="rank columns data large-3">
            <a href="/leaderboard">
                <p><b>Rank Clam</b></p>
                <h5>{{=it.stats.rank_clam}}</h5>
            </a>
        </div>
        <div class="columns data large-3">
            <p>
                <b>Wagered Clam </b>
            </p>
            <h5>{{#def.format: { n: it.stats.user_wagered_clam, decimals: 8} }} CLAM</h5>
        </div>
        <div class="columns data large-3">
            <p>
                <b>Profit Clam</b>
            </p>
            <h5>{{#def.format: { n: it.stats.net_profit_clam, decimals: 8} }} CLAM</h5>
        </div>
    </div>
</div>
#}}
{{#def.include('./template/main')}}
