{{##def.page_title = 'FreeBitcoins.com - BlastOFF Leaderboards - ePeen Awards' #}}
{{##def.page_description = 'BlastOFF leader boards are perfect for measuring the true length of your ePeen.  Having a large Bitcoin wallet is cool, but being willing to risk it is cooler.' #}}

{{##def.content:
<div class="content row panel radius">
       <a href="/weekly-leaderboard"><strong>Weekly leaderboard Promotion</strong></a>
    <hr>
    <div class="columns">
          <a href="/weekly-leaderboard/btc" class="button orange">Bitcoin</a>
          <a href="/weekly-leaderboard/clam" class="button orange">Clamcoin</a>
    </div>
</div>
#}}

{{#def.include('./template/main')}}
